@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0e0e0e;
  --accent: #004aad; /* ABREONIX Cyber Blue */
  --accent-light: #007aff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  scroll-behavior: smooth;
  transition: background 0.3s ease, color 0.3s ease;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: #f3f3f3;
  
  
}

@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scroll-right {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.animate-scroll-left {
  animation: scroll-left 25s linear infinite;
}

.animate-scroll-right {
  animation: scroll-right 25s linear infinite;
}

